<app-card
  [cardTitle]="'app.navigation.communication.communication_templates.title' | transloco"
  actionTitle="communication.action.create_communication_template"
  actionIcon="add"
  (action)="openAddCommunicationTemplate()">
  <app-table
    [storageKey]="'communication-template-listing'"
    *appTableCtx="data; let typing"
    defaultSortColumn="title"
    (editEvent)="openEditCommunicationTemplate($event)"
    (deleteEvent)="deleteCommunicationTemplate($event)">
    <app-query-container
      [label]="'communication.filters.modal_title' | transloco"
      cacheKey="communicationtemplate"
      [(model)]="data"
      (queryFormEvent)="onQueryForm($event)"
      (queryEvent)="onQuery($event)">
      <mat-accordion multi *appQueryContainerContent>
        <app-dynamic-query
          [typing]="queryTyping"
          label="communication.communication_template_item.template_type"
          [localized]="true"
          name="templateType"></app-dynamic-query>
      </mat-accordion>
    </app-query-container>

    <ng-container
      [appTableTyping]="typing"
      appHeaderRowDef
      key="id"
      [sticky]="true"
      [columns]="['title', 'subject', 'templateTypeName', '$actionsEditDelete']"
      [mobileColumns]="['title', 'subject', 'templateTypeName']">
    </ng-container>

    <ng-container [appTableTyping]="typing" appColumnDef="title">
      <ng-container *appHeaderCellDef="typing; sortable: true">{{ 'shared.common.title' | transloco }}</ng-container>
      <ng-container *appCellDef="typing; let row">{{ row.title }}</ng-container>
    </ng-container>

    <ng-container [appTableTyping]="typing" appColumnDef="subject">
      <ng-container *appHeaderCellDef="typing; sortable: true">{{
        'communication.communication_template_item.subject' | transloco
      }}</ng-container>
      <ng-container *appCellDef="typing; let row">{{ row.subject }}</ng-container>
    </ng-container>

    <ng-container [appTableTyping]="typing" appColumnDef="templateTypeName">
      <ng-container *appHeaderCellDef="typing; sortable: true">{{
        'communication.communication_template_item.template_type' | transloco
      }}</ng-container>
      <ng-container *appCellDef="typing; let row">{{ getTemplateTypeName(row) | transloco }}</ng-container>
    </ng-container>
  </app-table>
</app-card>
