.allAcceptedTasks {
    background-color: #EEFFE2;
}
.awaitingAcceptedTasks {
    background-color: #FFEECC;
}
.rejectedTasksDetails {
    background-color: #FFEECC;
}
.rejected-tasks-card.rejectedTasksDetails {
    // background: #f3f4f6;
background-color: #FFEECC;
}
.rejected-tasks-card.rejectedTasksDetails:hover {
    background: #e8e8e8;     
}