<div class="flex place-content-center place-items-center">
  <div class="flex-none w-6" *ngIf="!textboxOnly">
    <button mat-icon-button class="icon-button-small" (click)="handleMinus()">
      <mat-icon>remove_circle_outline</mat-icon>
    </button>
  </div>
  <div class="flex-none w-20">
    <input type="number" matInput [(ngModel)]="value" (change)="onValueChanged()" />
  </div>
  <div class="flex-none w-6" *ngIf="!textboxOnly">
    <button mat-icon-button class="icon-button-small" (click)="handlePlus()">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </div>
</div>

<div class="flex place-content-center place-items-center">
  <span>{{ value }}</span>
</div>
