<div class="flex flex-row justify-between">
  <app-page-title>{{ 'administration.task_type_template.page_title' | transloco }}</app-page-title>
</div>

<app-card
  [cardTitle]="'administration.task_type_template.task_type_template_listing.title' | transloco"
  actionTitle="administration.task_type_template.action.create_task_type_template"
  actionIcon="add"
  (action)="openAddTaskType()">
  <app-table
[storageKey]="'task-type-template-listing'" 
    *appTableCtx="data; let typing"
    defaultSortColumn="title"
    (editEvent)="openEditTaskType($event)"
    (deleteEvent)="deleteTaskType($event)">
    <app-query-container
      [hideFilterBtn]="true"
      [label]="'administration.shared.action.search' | transloco"
      [(model)]="data"
      (queryFormEvent)="onQueryForm($event)"
      (queryEvent)="onQuery($event)">
      <mat-accordion multi *appQueryContainerContent> </mat-accordion>
    </app-query-container>

    <ng-container
      [appTableTyping]="typing"
      appHeaderRowDef
      key="id"
      [sticky]="true"
      [columns]="['title', 'shortName', 'trusted', '$actionsEditDelete']"
      [mobileColumns]="['title', 'shortName', 'trusted']">
    </ng-container>

    <ng-container [appTableTyping]="typing" appColumnDef="title">
      <ng-container *appHeaderCellDef="typing; sortable: true">{{ 'shared.common.title' | transloco }}</ng-container>
      <ng-container *appCellDef="typing; let row">{{ row.title }}</ng-container>
    </ng-container>
    <ng-container [appTableTyping]="typing" appColumnDef="shortName">
      <ng-container *appHeaderCellDef="typing; sortable: true">{{
        'shared.common.short_name' | transloco
      }}</ng-container>
      <ng-container *appCellDef="typing; let row">{{ row.shortName }}</ng-container>
    </ng-container>
    <ng-container [appTableTyping]="typing" appColumnDef="trusted">
      <ng-container *appHeaderCellDef="typing; sortable: true">{{
        'administration.task_type_template.task_type_template_listing.trusted' | transloco
      }}</ng-container>
      <ng-container *appCellDef="typing; let row">{{
        (row.trusted ? 'shared.common.yes' : 'shared.common.no') | transloco
      }}</ng-container>
    </ng-container>
  </app-table>
</app-card>
