<div class="alert alert-warning" role="alert">
  <div class="alert-body">
    <h3 class="alert-heading">{{ 'tasks.task_rejection_confirmation.alert.header' | transloco }}</h3>
    <p class="alert-text">
      {{ 'tasks.task_rejection_confirmation.alert.content' | transloco }}
    </p>
  </div>
</div>
<h1>{{ 'tasks.task_rejection_confirmation.header' | transloco }}</h1>
<span>{{ 'tasks.task_rejection_confirmation.content_1' | transloco }} </span>
<a href="#" [routerLink]="contactUsUrl" class="function-link">{{ 'tasks.task_rejection_confirmation.contact_us' | transloco }}</a>
<span> {{ 'tasks.task_rejection_confirmation.content_2' | transloco }}</span>
