.allAcceptedTasks {
    background-color: #EEFFE2;
}
.awaitingAcceptedTasks {
    background-color: #FFEECC;
}

.task-button {
    min-width: 185px !important;
}

.task-buttons {
    min-width: 250px !important;
}